extends layout

block content
    .row
        .col-lg-4
            .form-group
                h3 Select States
                select#states.selectpicker.form-control(multiple='multiple')
                  each state, i in states
                    option(value=state.name) #{state.name}
        .col-lg-4
            .form-group
                h3 Select Crimes
                select#crimes.selectpicker.form-control(multiple='multiple')
                  each crime, i in crimes
                    option(value=crime.name) #{crime.name}
        .col-lg-4
            .form-group
                h3 Select Ethnicity
                select#ethnicities.selectpicker.form-control(multiple='multiple')
                  each ethnicity, i in ethnicities
                    option(value=ethnicity.name) #{ethnicity.name}
    .row.top50
        .col-lg-4
            fieldset.form-group
                legend Filter by Population
                .form-check
                    label.form-check-label.pop
                        input.form-check-input(name='populationOption' type='radio' value='lessThan')
                        | Less than
                .form-check
                    label.form-check-label.pop
                        input.form-check-input(name='populationOption' type='radio' value='greaterThan') 
                        | Greater than
                .form-check
                    label.form-check-label.pop
                        input.form-check-input(name='populationOption' type='radio' value='none' checked) 
                        | None
                input#popAmount.form-control(type='text' placeholder='Population')
        .col-lg-4
            fieldset.form-group
                legend Filter by Total Crime
                .form-check
                    label.form-check-label.totCrime
                        input.form-check-input(name='totalCrimeOption' type='radio' value='lessThan')
                        | Less than
                .form-check
                    label.form-check-label.totCrime
                        input.form-check-input(name='totalCrimeOption' type='radio' value='greaterThan') 
                        | Greater than
                .form-check
                    label.form-check-label.totCrime
                        input.form-check-input(name='totalCrimeOption' type='radio' value='none' checked) 
                        | None
                input#crimeAmount.form-control(type='text' placeholder='Total Crime')
        .col-lg-4
            fieldset.form-group
                legend Filter by Police Force
                .form-check
                    label.form-check-label.police
                        input.form-check-input(name='policeEmploymentOption' type='radio' value='lessThan')
                        | Less than
                .form-check
                    label.form-check-label.police
                        input.form-check-input(name='policeEmploymentOption' type='radio' value='greaterThan') 
                        | Greater than
                .form-check
                    label.form-check-label.police
                        input.form-check-input(name='policeEmploymentOption' type='radio' value='none' checked) 
                        | None
                input#policeAmount.form-control(type='text' placeholder='Police Force')
    .row.top30
        .col-lg-4
            fieldset.form-group
                legend Include in Results
                .form-check
                    label.form-check-label
                        input#populationCheck.form-check-input.checkResults(type='checkbox' value='totalPopulation' checked)
                        | Population
                .form-check
                    label.form-check-label
                        input#policeCheck.form-check-input.checkResults(type='checkbox' value='policeForce' checked)
                        | Police Force
                .form-check
                    label.form-check-label
                        input#totalCrimeCheck.form-check-input.checkResults(type='checkbox' value='totalCrime' checked)
                        | Total Crime
                .form-check
                    label.form-check-label
                        input#percentCrimeCheck.form-check-input.checkResults(type='checkbox' value='percentCrime' checked)
                        | % of Total Crime
            input#submitQuery(class='click-btn btn btn-primary' type='submit' value='Submit')
            
